/* .container__about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  max-width: 70vw;
  min-height: 70vh;
  background-color: #e8f2e7;
} */

.navigation__about {
  color: #7e7777;
  font-size: 14px;
  margin: 20px 0 0 0;
}

.product__about {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; */
  margin: 50px 0 0 0;
}

.data__product {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

.galery__product {
  width: 25%;
}

.img_one, .img_two {
  width: 80%;
  border: 1px solid #DA4358;
  border-radius: 0.5rem;
  cursor: pointer;
}

.img__product {
  /* width: 20%;
  height: 100%;
  border-radius: 0.5rem;
  border: 0.2px solid black; */

  max-width: 660px;
}

.info__product {
  padding: 5%;
}

.display-none {
  display: none
}

.display-block {
  display: block;
}

.title__product {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #3b3d40;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.brand__product, .category__product  {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
}

.stock__product, .description__product {
  color: #726f6f;
    line-height: 27px;
    font-size: 16px;
}

.add-to-cart__product {
  margin: 20px 0 0 0;
}

.price__product{
  font-weight: 600px;
  font-size: 20px;
}

.product__btn {
  display: flex;
  margin: 20px 0 0 0;
}

.drop__product, .add__product {
  border: 0;
  background-color: white;
  outline: none;
  border: 1px solid #787878;
  transition: 0.2s;
  padding: 10px 15px;
  margin-right: 20px;
}

.buy-now__product {
  border: 0;
  background-color: #DA4358;
  border: 1px solid #DA4358;
  color: white;
  outline: none;
  transition: 0.2s;
  padding: 10px 15px;
}

.buy-now__product:hover {
  cursor: pointer;
  background-color: #bc3a4c;
  border: 1px solid #c83d50;
}

.drop__product:hover, .add__product:hover {
  cursor: pointer;
  background-color: #DA4358;
  border: 1px solid #DA4358;
  color: white;
}