.container__about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  max-width: 70vw;
  min-height: 70vh;
  background-color: #e8f2e7;
}

.product__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.data__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.img__product {
  width: 20%;
  height: 100%;
  border-radius: 0.5rem;
  border: 0.2px solid black;
}

.info__product {
  padding: 5%;
}