*{
  font-family: 'Poppins', sans-serif;
}

.container__cart {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.empty__cart {
  padding-top: 100px;
  background-color: #e8f2e7;
  width: 100%;
  height: calc(100vh - 50px);
  text-align: center;
}

.main-link__cart {
  text-decoration: none;
  color: #afb0af;
}

.products__cart {
  width: 900px;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 50px); */
  padding: 30px;
  /* border-radius: 15px; */
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.29);
}

.title-items__cart {
  padding: 10px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-items__cart h2 {
  font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #3b3d40;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.pages__cart {
  display: flex;
}



.item-products__cart {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 100%;
}

.display-none {
  display: none;
}

.pages__cart > span {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.pages__cart_active {
  color: red;
}

.item__cart {
  justify-content: space-between;
  align-items: center;
  /* background-color: #e8f2e7; */
  width: 100%;
  height: 120px;
  margin: 15px 0;
}



.info-item__cart {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.img-item__cart {
  width: 20%;
  height: 100%;
  /* border-radius: 0.5rem;
  border: 0.2px solid black; */
}

.detail-item__cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.name-item__cart {
  padding-top: 1%;
  color: black;
  font-size: 120%;
  text-align: center;
}

.description-item__cart {
  padding-top: 1%;
  color: #3b3d40;
  font-size: 90%;
  text-align: center;
  border-top: 1px solid #3b3d40;
}

.additional-item__cart {
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.count-item-container__cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-through {
  text-decoration: line-through;
}

.order__cart {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e8f2e7;
  width: 25%;
  height: 359px;

}

.title-order__cart {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #3b3d40;
  padding: 0 0 10px 0;
  font-weight: 600;
}

.succes-promo-container__car {
  width: 100%;
}

.succces-promo__cart {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.promo-list__cart {
  font-size: 80%;
}

.applied-promo-container__cart {
  display: none;
  width: 80%;
  margin: 6% auto;
  border: 1px solid orange;
  border-radius: 0.3rem;
  overflow: hidden;
}

.applied-promo__cart {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #3b3d40;
  border-bottom: 1px solid orange;
  padding: 2%;
}

.new-price__cart {
  display: none;
  justify-content: center;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.buy-now__cart {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13,13,13,.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__cart {
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* padding: 1%; */
  /* border: 1px solid black; */
  /* border-radius: 0.5rem; */
  /* max-width: 500px; */
  background-color: #e8f2e7;
  z-index: 99;
  position: absolute;
}

.close-modal__cart {
  width: max-content;
}
.close-modal__cart:hover {
  cursor: pointer;
}

.form__cart {
  width: 100%;
  margin: auto;
  display: block;
}

.personal-details__cart {
  width: 90%;
  margin: auto;
}

.details-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
}

.details-cart>span {
  color: red;
  font-size: 10px;
  margin-left: 10px;
}

.number-card__cart>span {
  margin-left: 10px;
  color: red;
  font-size: 10px;
}

.input-cart {
  /* background-color: #e8f2e7;
  width: 100%;
  border: 1px solid #3b3d40;
  color: #3b3d40;
  border-radius: 2rem;
  padding: 0.4rem;
  outline: none;
  font-size: 90%;
  text-align: center;
  margin: 2% auto; */

  outline: none;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  padding: 5px;
  margin: 7px 0;
}

.card-details__cart {
  margin-top: 1%;
  width: 100%;
}

.title-card__cart {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #3b3d40;
  padding: 10px 0 10px 0;
  font-weight: 600;
}

.data-card__cart {
  border: 1px solid #00000042;
  margin: 0 auto;
  border-radius: 0.3rem;
  /* background-color: white; */
  width: 285px;
  height: 150px;
  background: -webkit-linear-gradient(0deg, rgb(217, 217, 217) 14%, rgb(165, 178, 244));
  background: -moz-linear-gradient(0deg, rgb(217, 217, 217) 14%, rgb(165, 178, 244));
  background: linear-gradient(0deg, rgb(217, 217, 217) 14%, rgb(165, 178, 244));
}

.number-card__cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7% auto 10%;
}

.img-card__cart {
  width: 10%;
  height: 90%;
}

.other-data__cart {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.valid-data__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50%;
}

.cvv-card__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50%;
}

.number-card-input__cart {
  width: 80%;
  /* background: rgb(233,233,202); */
  border: 1px solid #1c1a1500;
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
  margin-left: 2%;
  font-size: 12px;
  color: #3b3d40;
  font-weight: 500;
}

.valid-data-input__cart {
  font-weight: 700;
  font-size: 130%;
  width: 60%;
  height: 1rem;
  /* background: rgb(233,233,202); */
  border: 1px solid #1c191200;
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
  margin-left: 2%;
  font-size: 90%;
  color: #3b3d40;
  font-weight: 500;
}

.cvv-card-input__cart {
  font-weight: 700;
  font-size: 130%;
  width: 60%;
  height: 1rem;
  /* background: rgb(233,233,202); */
  border: 1px solid #1c191200;
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
  margin-left: 2%;
  font-size: 90%;
  color: #3b3d40;
  font-weight: 500;
}

.confirm-btn {
  /* width: 40%;
  font-size: 90%;
  background-color: #3f1010;
  border: 1px solid orange;
  border-radius: 0.5rem;
  padding: 1%;
  cursor: pointer;
  display: block;
  margin: 5% auto; */


  display: block;
  width: 285px;
  border: 0;
    background-color: white;
    padding: 7px 0;
    outline: none;
    border: 1px solid #787878;
    transition: 0.2s;
    margin: 30px auto 0;
}

.confirm-btn:hover {
  cursor: pointer;
  background-color: #DA4358;
  border: 1px solid #DA4358;
  color: white;
}

.border-color-green {
  border-color: green;
}

.border-color-red {
  border-color: red;
}

.verctical__cart {
  left: 1322px;
  top: 107px;
  position: fixed;
  z-index: -1012;
  background-color: #e8f2e7;
  width: 100%;
  height: 100%;
}

.input-promo__cart {
  outline: none;
  width: 251px;
  margin: 0 auto;
  font-size: 14px;
  padding: 5px;
}


.buy-now-button__cart {
  border: 0;
  background-color: white;
  padding: 7px 0;
  outline: none;
  border: 1px solid #787878;
  transition: 0.2s;
}

.buy-now-button__cart:hover {
  cursor: pointer;
  background-color: #DA4358;
  border: 1px solid #DA4358;
  color: white;
}


.vertical__text {
  position: absolute;
  transform: rotate(-0.25turn);
  font-size: 120px;
  font-weight: 600;
  color: #e8f2e7;
  top: 42%;
  left: -7%;
}


.title-personal__cart {
  font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #3b3d40;
    padding: 0 0 10px 0;
    font-weight: 600;
}