
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,900&family=Roboto:wght@500&display=swap');

.wrapper__main {
  max-width: 1250px;
  margin: 0 auto;
}

.container__header {
    /* background-color: #e8f2e7; */
    padding: 25px 0 25px;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.item__header {
  list-style: none;
  margin-right: 20px;
}

.cart__header {
  display: flex;
  align-items: center;
}

.count__header {
  padding-left: 15px;
}