*{
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container__main {
  display: flex;
  margin: 50px 0 0 0;
}

.sidebar__main {
    width: 20%;
    background-color: #e8f2e7;
    margin: 0 50px 0 0;
    padding: 30px 0 0 0;
}

.main__content {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

.filter__main {
    padding: 20px 0 0px 0;
}

.filter__title {
    padding: 0px 0 10px 0;
    font-weight: bold;
}

.filter__main ul {
    list-style: none;
}

.filter__main ul li {
    display: flex;
    padding: 3px 0;
}

.main__info {
  width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px 0;
}

.main__search input {
    max-width: 300px;
}

.products__main {
  width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    margin: 0 0 100px 0;
}

.elem__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f3f1;
  border: 1px solid black;
}

.elem__item img {
    max-width: 150px;
}

.price__container {
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
}

.title__item {
    padding: 10px 0 0 0;
    font-weight: bold;

}

.add__item {
    color: rgb(102, 102, 102);
    transition: 0.5s;
}
.add__item:hover {
    cursor: pointer;
    color: rgb(43, 156, 64);
}

.multi-range__main {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
  display: block;
}

.price-range__main {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: wheat;
}

.input-range__main {
  position: relative;
  padding: 2%;
  width: 100%;
  height: 40px;
}

input[type="range"] {
  appearance: none;  
  width: 90%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.slider-track {
  width: 90%;
  height: 5px;
  background-color: #d5d5d5;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: black;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -4px;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: red;
}
